{% extends "escuela/principal.html" %}

{% block content %}

<h3>Material - {{ tema.nombre }}</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
        <label>Nombre</label>
        {{ form.nombre }}
        {{ form.nombre.errors }}
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        {{ form.descripcion }}
    </div>

    <div class="mb-3">
        <label>Archivo</label>
        {{ form.archivo }}
    </div>

    <div class="mb-3">
        <label>URL</label>
        {{ form.url }}
    </div>

    <div class="mb-3">
        <label>Orden</label>
        {{ form.orden }}
    </div>

    <button class="btn btn-success">Guardar</button>
    <a href="{% url 'material_list' tema.id %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}