{% extends 'principal.html' %}

{% block content %}
<div class="barra-superior">
    <div>
        <h3> {{request.user|title}}</h3>
        <h1 style="margin:0"> {{iglesia}} </h1>

    </div>



    {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        {% else %}
             <a href="{% url 'login' %}">Ingresar </a>
        {% endif %}
<a href="{% url 'miembro-list' %}">Volver </a>

</div>
<div class="container">
    <h2>Eliminar Miembro</h2>
    <p>¿Estás seguro de que deseas eliminar a <strong>{{ miembro.nombre }} {{ miembro.apellido }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'miembro-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}