{% extends 'principal.html' %}

{% block content %}
<div class="barra-superior">

<a href="{% url 'miembro-list' %}">Volver </a>


</div>


<div class="container" style="max-width:500px;">
    <h2>{% if form.instance.pk %}Editar{% else %}Agregar a membrecia{% endif %}</h2>
    <form method="post" action="">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
            {{ form.nombre }}
        </div>
                {% if form.nombre.errors %}
                    <div class="text-danger">
                        {% for error in form.nombre.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}


        <div class="form-group">
            <label for="{{ form.apellido.id_for_label }}">Apellido</label>
            {{ form.apellido }}
        </div>
                {% if form.apellido.errors %}
                    <div class="text-danger">
                        {% for error in form.apellido.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}


        <div class="form-group">
            <label for="{{ form.identificacion.id_for_label }}">Identificaci&oacute;n</label>
            {{ form.identificacion }}
        </div>
                {% if form.identificacion.errors %}
                    <div class="text-danger">
                        {% for error in form.identificacion.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}




        <div class="form-group">
            <label for="{{ form.correo.id_for_label }}">Correo Electr&oacute;nico</label>
            {{ form.correo }}
        </div>
                {% if form.correo.errors %}
                    <div class="text-danger">
                        {% for error in form.correo.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
        <div class="form-group">
            <label for="{{ form.celular.id_for_label }}">Celular</label>
            {{ form.celular }}
        </div>

                {% if form.celular.errors %}
                    <div class="text-danger">
                        {% for error in form.celular.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}

        <div class="form-group">
            <label for="{{ form.telefono.id_for_label }}">Tel&eacute;fono</label>
            {{ form.telefono }}
        </div>
                {% if form.telefono.errors %}
                    <div class="text-danger">
                        {% for error in form.telefono.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
        <div class="form-group" style="max-width:300px;">
            <label  for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de nacimiento</label>
            {{ form.fecha_nacimiento }}
        </div>


 {% if usuario_iglesia.superusuario %}
        <div class="form-check">
            {{ form.activo }} <label for="{{ form.activo.id_for_label }}">Activo</label>
        </div>



        <div class="form-check">
            {{ form.lider }} <label for="{{ form.lider.id_for_label }}">L&iacute;der</label>
        </div>

            <div class="row"
                 id="contenedor-categoria-lider">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">
                            Categor&iacute;a l&iacute;der
                        </label>
                        {{ form.categoria_lider }}
                    </div>
                {% if form.categoria_lider.errors %}
                    <div class="text-danger">
                        {% for error in form.categoria_lider.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
{% endif %}


        <div class="form-group">
            <label for="{{ form.ocupacion_actual.id_for_label }}">Ocuapción actual:</label>
            {{ form.ocupacion_actual }}
        </div>
        <div class="form-group">
            <label for="{{ form.preparacion.id_for_label }}">Preparaci&oacute;n/Habilidades:</label>
            {{ form.preparacion }}
        </div>
        <div class="form-group">
            <label for="{{ form.ocupacion_interesada.id_for_label }}">Inter&eacute;s de ocuparse en:</label>
            {{ form.ocupacion_interesada }}
        </div>





        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'miembro-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#id_fecha_nacimiento", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
            allowInput: true
        });
    });
</script>

<script>

function toggleCategoriaLider(){

    let lider = document.getElementById(
        "id_lider"
    );

    let contenedor = document.getElementById(
        "contenedor-categoria-lider"
    );

    if(lider.checked){

        contenedor.style.display = "flex";

    }else{

        contenedor.style.display = "none";

        // 🔥 limpiar selección
        document.getElementById(
            "id_categoria_lider"
        ).value = "";
    }
}

// 🔥 ejecutar al cargar
toggleCategoriaLider();

// 🔥 escuchar cambios
document.getElementById(
    "id_lider"
).addEventListener(
    "change",
    toggleCategoriaLider
);

</script>
{% endblock content %}