{% extends "base.html" %}

{% block title %}Lista de Registros{% endblock %}

{% block content %}
    <h2>Lista de Registros</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>1</td>
                    <td>Jorge Madrid</td>
                    <td>Comoqueno gunciona</td>
                    <td>
                        <a href="}" class="btn btn-primary">Editar</a>
                        <a href="" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>

        </tbody>
    </table>
    <a href="" class="btn btn-primary">Agregar Nuevo</a>
{% endblock %}