{% extends 'principal.html' %}

{% block content %}


    <a href="{% url 'servicios'  %}">Volver </a>




        <h3><b>Servicio:</b>  {{ servicio.fecha|date:"l d F Y" }} {{servicio.descripcion}} </h3>


        {% if miembros_por_ministerio %}
        <div>



                {% if ministerios %}
                    {% if usuario_iglesia.superusuario %}
                        <h3> <b>Ministerios:</b>
                        {{ ministerios|join:", " }}
                    {% else %}
                            <h3> <b>Programar en :</b>
                        <a class='enlace-eliminar' href="{% url 'programar-miembros' servicio.id %}">
                            {{ ministerios|join:", " }}
                        </a>
                    {% endif %}
                {% else %}
                    No hay asignaciones hasta el momento
                {% endif %}
             </h3>

        </div>
        {% endif %}



<hr>
<h2 ><b></b>Participantes:</b></h2>

{% if miembros_por_ministerio %}


    <div class="grid-container">
        {% for ministerio, miembros in miembros_por_ministerio.items %}
            <div class="ministerio">
                <h3  >{{ ministerio.descripcion }} ({{ miembros|length }} miembros)</h3>
                <ul>
                    {% for miembro in miembros %}
                        <li>{{ miembro.nombre }} {{ miembro.apellido }}</li>
                    {% empty %}
                        <li>No hay miembros en este ministerio.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <p><strong>Total de miembros en todos los ministerios: {{ total_miembros }}</strong></p>
{% else %}
    <p>No hay ministerios relacionados con este servicio.</p>
{% endif %}


{% endblock content %}