{% extends 'principal.html' %}

{% block content %}

    <h2>Ministerios</h2>
    <a href="{% url 'ministerio-create' %}" class="btn btn-primary">Nuevo Ministerio</a>
<br> <br>
    <ul>
        {% for ministerio in ministerios %}
            <li>
                <a href="{% url 'ministerio-detail' ministerio.id %}">{{ ministerio.descripcion }}</a>
                ({{ ministerio.id_usuario.first_name}} {{ ministerio.id_usuario.last_name}})
                <a href="{% url 'ministerio-update' ministerio.id %}" class="btn btn-warning">Editar</a>


                    {% if ministerio.id not in ministerios_con_miembros %}
                        <a href="{% url 'ministerio-delete' ministerio.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este ministerio?')">
                            Eliminar
                        </a>

                    {% endif %}


            </li>
        {% empty %}
            <li>No hay ministerios registrados.</li>
        {% endfor %}
    </ul>
{% endblock content %}