{% extends "principal.html" %}

{% block content %}

<h3>Mis Reportes Anuales</h3>

<a href="{% url 'reporte_anual_form' %}" class="btn btn-success mb-3">
    Nuevo Reporte
</a>

<table class="table table-bordered table-hover">

    <thead class="table-info">
        <tr>

            <th>Año</th>
            <th>M. Inicio</th>
            <th>M. Ganados</th>
            <th>M. Perdidos</th>
            <th>M. Final</th>
            <th>Activos</th>
            <th>Promedio Esc.</th>

            <th class="table-info">&nbsp;</th>

            <th>Diezmos/ofrendas</th>
            <th>Aportes_presbiterio</th>
            <th>otros_gastos</th>

            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

    {% for r in reportes %}

        <tr>
            <td>{{ r.anio }}</td>
            <td>{{ r.miembros_inicio }}</td>
            <td>{{ r.miembros_ganados }}</td>
            <td>{{ r.promedio_perdidos }}</td>
            <td>{{ r.miembros_final }}</td>
            <td>{{ r.miembros_activos }}</td>
            <td>{{ r.promedio_escuela }}</td>
            <td class="table-info">&nbsp;</td>
            <td>{{ r.diezmos_ofrendas }}</td>
            <td>{{ r.aportes_presbiterio }}</td>
            <td>{{ r.otros_gastos }}</td>

            <td>

                {% if r.puede_editar %}
                    <a href="{% url 'reporte_anual_form_editar' r.anio %}"
                       class="btn btn-primary btn-sm">
                        Editar
                    </a>
                {% else %}
                    <span class="text-danger">Cerrado</span>
                {% endif %}

            </td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="5">No hay reportes registrados</td>
        </tr>
    {% endfor %}

    </tbody>

</table>

{% endblock %}