{% extends "principal_sin_menu_form.html" %}
{% block content %}

<h2>{{ evento.evento.nombre }} {{ evento.nombre }}</h2>

<!-- 🔍 BUSCAR -->
<form method="post">
    {% csrf_token %}

    <input type="hidden" name="accion" value="buscar">
    <input type="hidden" name="accion_val" value="buscar">

    <input type="text"
           name="identificacion"
           value="{{ identificacion }}"
           class="form-control"
           placeholder="Identificación..."
            pattern="[0-9]+"
           style="font-size:2.3rem;padding:12px;"
    >

    <button class="btn btn-primary w-100 py-2 mt-2">
        Buscar
    </button>
</form>

<hr>

<!-- 👤 SI ES MIEMBRO -->
{% if miembro %}
    <div class="alert alert-success">
        {{ miembro.nombre }} <br>
        {{ miembro.identificacion }}
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="accion" value="inscribir">
        <input type="hidden" name="identificacion" value="{{ miembro.identificacion }}">
          <input type="hidden" name="nombre" value="{{ miembro.nombre }}">

           <select name="rango_edad" class="form-control mb-2" >
                <option value="">Seleccione rango de edad</option>
                {% for r in rangos %}
                    <option value="{{ r.id }}">{{ r.edad_min }} - {{ r.edad_max }} años | {{ r.nombre }}</option>
                {% endfor %}
            </select>


        <button class="btn btn-success">
            Inscribir
        </button>
    </form>
{% endif %}

<!-- 👥 SI ES VISITANTE -->
{% if mostrar_form_visitante %}
    <div class="alert alert-warning">
        Por favor reg&iacute;strate:
    </div>

    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="accion" value="inscribir">
        <input type="hidden" name="identificacion" value="{{ identificacion }}"  pattern="[0-9]+">

        <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre" required pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñÜü]+(?:[ '-][A-Za-zÁÉÍÓÚáéíóúÑñÜü]+)*$">
        <input type="text" name="apellido" class="form-control mb-2" placeholder="Apellido" required pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñÜü]+(?:[ '-][A-Za-zÁÉÍÓÚáéíóúÑñÜü]+)*$">
        <input type="text" name="telefono" class="form-control mb-2" placeholder="Celular" pattern="\+?[0-9]{7,15}" required>
        <input type="email" name="correo" class="form-control mb-2" placeholder="Correo" required>

           <select name="rango_edad" class="form-control mb-2" required>
                <option value="">Seleccione rango de edad</option>
                {% for r in rangos %}
                    <option value="{{ r.id }}">{{ r.edad_min }} - {{ r.edad_max }} años | {{ r.nombre }}</option>
                {% endfor %}
            </select>

            <div class="form-check mb-3">

                <input
                    class="form-check-input"
                    type="checkbox"
                    name="otra_congregacion"
                    id="otra_congregacion"
                    value="1"
                >

                <label
                    class="form-check-label"
                    for="otra_congregacion"
                >
                    ¿Participas desde otra congregación?
                </label>

            </div>
        <button class="btn btn-success">
            Inscribir visitante
        </button>
    </form>
{% endif %}

{% endblock %}