{% extends "principal.html" %}
{% block content %}

<h3>Evento Programado</h3>
<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    {% if form.instance.imagen %}
        <div class="mb-3">

            <p>Imagen actual:</p>

            <img
                src="{{ form.instance.imagen.url }}"
                style="max-width:300px"
                class="img-fluid rounded shadow"
            >

        </div>
    {% endif %}


    <button class="btn btn-success">Guardar</button>
    <a href="{% url 'evento_programado_list' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}