{% extends "principal.html" %}

{% block content %}
<a  href="{% url 'evento_programado_list' %}">Volver</a>
<div class="container mt-4">

    <h3>
        Inscritos - {{ evento.evento.nombre }} <br>
        <small>{{ evento.fecha }}</small>
    </h3>

        <!-- 🔥 INDICADORES -->
    <table class="table table-striped mb-4">

        <tr>

            <th class="table-success">
                Líder
            </th>

            <th class="table-primary">
                Activo
            </th>

        </tr>

    </table>



    {% regroup inscripciones by rango_edad as grupos %}

    {% for grupo in grupos %}

        <div class="mt-4">
            <h5 class="bg-light p-2">
                {{ grupo.grouper.nombre }} ({{ grupo.list|length }})
            </h5>

            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Teléfono</th>
                        <th>Red</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in grupo.list %}
                    <tr

                    {% if i.miembro.lider %}

                        class="table-success"

                    {% elif i.miembro.activo %}

                        class="table-primary"

                    {% endif %}


                    >
                        <td>
                            {% if i.miembro %}
                                {{ i.miembro.nombre }} {{ i.miembro.apellido }}
                            {% else %}
                                {{ i.nombre }}
                            {% endif %}

                        </td>
                        <td>
                            {% if i.miembro %}
                                {{ i.miembro.identificacion }}
                            {% else %}
                                {{ i.identificacion }}
                            {% endif %}
                        </td>
                        <td>
                            {% if i.miembro %}
                                {{ i.miembro.telefono }}
                            {% else %}
                                {{ i.telefono }}
                            {% endif %}
                        </td>
                        <td>
                            {{ i.red_nombre|default:"-" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endfor %}

</div>

{% endblock %}