{% extends 'principal_login.html' %}

{% block content %}

<div class="barra-superior">
    <h1>Ingresar</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary"  type="submit" value="Ingresar">
</form>
    <!--<p>¿No tienes una cuenta? <a href="{% url 'registro_iglesia' %}">Regístrate</a></p>-->
</div>


{% if form.errors %}

<div class="alert alert-danger mt-3">

    Credenciales inválidas.

</div>

<div class="text-end">

    <a
        href="{% url 'password_reset' %}"
        class="small text-decoration-none"
    >
        ¿Olvidaste tu contraseña?
    </a>

</div>

{% endif %}
{% endblock content %}