{% extends "principal_sin_menu_autentica.html" %}

{% block content %}

<div
    class="container mt-5"
    style="max-width:500px;"
>

    <div class="card shadow">

        <div class="card-body">

            <h3 class="text-center mb-4">
                Recuperar contraseña
            </h3>

            <p class="text-muted">

                Ingresa el correo asociado
                a tu cuenta.

            </p>

            <form method="post">

                {% csrf_token %}

                {{ form.email }}

                <button
                    class="btn btn-primary w-100 mt-3"
                >
                    Enviar enlace
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}