{% extends "principal_sin_menu_autentica.html" %}

{% block content %}

<div
    class="container mt-5"
    style="max-width:500px;"
>

    <div class="card shadow">

        <div class="card-body">

            <h3 class="mb-4 text-center">
                Nueva contraseña
            </h3>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    class="btn btn-success w-100"
                >
                    Cambiar contraseña
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}