{% extends 'principal_login.html' %}

{% block content %}
<div class="barra-superior">
    <h1>Registrarse en  {{ iglesia.nombre }} </h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="POST">
    {% csrf_token %}

    <div>{{form.first_name.label}}</div>
        {{form.first_name}}

    <div>{{form.last_name.label}}</div>
        {{form.last_name}}
    <div>{{form.email.label}}</div>
        {{form.email}}

    <div>{{form.username.label}}</div>
        {{form.username}}

    <div>{{form.password1.label}}</div>
        {{form.password1}}

    <div>{{form.password2.label}}</div>
        {{form.password2}}
    <input style="margin-top: 10px" class='boton' type="submit" value="Registrar">
</form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login_iglesia' %}">Ingresa</a></p>
</div>


{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field|capfirst }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}