{% extends 'principal.html' %}

{% block content %}
<div class="barra-superior">

<a href="{% url 'miembro-list' %}">Volver </a>


</div>


<div class="container">
    <h2>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Miembro</h2>
    <form method="post" action="">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="form-group">
            <label for="{{ form.apellido.id_for_label }}">Apellido</label>
            {{ form.apellido }}
        </div>

        <div class="form-group">
            <label for="{{ form.correo.id_for_label }}">Correo Electrónico</label>
            {{ form.correo }}
        </div>

        <div class="form-group">
            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            {{ form.telefono }}
        </div>

        <div class="form-group">
            <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento</label>
            {{ form.fecha_nacimiento }}
        </div>

        <div class="form-check">
            {{ form.activo }} <label for="{{ form.activo.id_for_label }}">Activo</label>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'miembro-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#id_fecha_nacimiento", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
            allowInput: true
        });
    });
</script>
{% endblock content %}