{% extends 'principal.html' %}

{% block content %}

<h2>Roles por Ministerio</h2>
<a href="{% url 'rol_ministerio_create' %}" class="btn btn-primary">Agregar Nuevo Rol</a>
<table>
    <thead>
        <tr>
            <th>Ministerio</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for rol in rol_ministerio %}
        <tr>
            <td>{{ rol.id_ministerio.descripcion }}</td>
            <td>{{ rol.descripcion }}</td>
            <td>
                <a class="btn btn-warning"  href="{% url 'rol_ministerio_update' rol.pk %}">Editar</a>
            {% if rol.es_eliminable %}
                <a class="btn btn-danger"  href="{% url 'rol_ministerio_delete' rol.pk %}" onclick="return confirm('¿Seguro que deseas eliminar este rol?')">Eliminar</a>
            {% endif %}

            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No hay roles registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}