{% extends 'principal.html' %}

{% block content %}
<a href="{% url 'rol_ministerio_list' %}">Volver </a>
<h2>{% if object %}Editar{% else %}Crear{% endif %} Rol en Ministerio</h2>

<form method="post">
    {% csrf_token %}

    <label for="id_ministerio">Ministerio:</label>
    {{ form.id_ministerio }}

    <label for="id_nombre_rol">Nombre del Rol:</label>
    {{ form.descripcion }}

    <button  class="btn btn-success" type="submit">Guardar</button>



        <a href="{% url 'rol_ministerio_list' %}" class="btn btn-secondary">Cancelar</a>


</form>


{% endblock content %}