{% extends "escuela/principal.html" %}

{% block content %}

<h3>Formulario Curso</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="mb-3">
        <label>Nivel</label>
        {{ form.nivel }}
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        {{ form.descripcion }}
    </div>

    <button class="btn btn-success">Guardar</button>
    <a href="{% url 'curso_list' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}